@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: "Amaranth", sans-serif;
  scroll-behavior: smooth;
}

.text-luxury {
  color: #5E503F; /* Luxurious color */
}


@tailwind base;
@tailwind components;
@tailwind utilities;